*{
    margin : 0%;
    padding: 0%;

}
header,footer{
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    margin: 15px;
}
button{
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-right: 50px;

}
.container{
    padding :10px;
    margin: 50px;
    border: 5px solid black;
    background-color:whitesmoke ;
    size: 12px,5px;
    border-color: black;
    container-type: flex;
    justify-self: auto;
    background-color: red,blue;
}